:root {
  --text: #000;
  --border: #ea736d;
  --link: #039be5;
  --line: #fbdc4d;
}
::-moz-selection {
  background-color: var(--line);
}
::selection {
  background-color: var(--line);
}
.none {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'M PLUS 1p', sans-serif;
  line-height: 1.2;
}
body.noscroll {
  overflow: hidden;
}
@media (min-width: 1200px) {
  body.noscroll {
    overflow: unset;
  }
}
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a,
a:hover {
  display: inline-block;
  color: #000;
  text-decoration: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
svg {
  max-width: 100%;
}
button,
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  width: 100%;
  max-width: 320px;
  padding: 0px 15px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
.title-h1 {
  font-size: 42px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-h1 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-h1 {
    font-size: 90px;
  }
}
.title-h2 {
  font-size: 42px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-h2 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-h2 {
    font-size: 64px;
  }
}
.title-h3 {
  font-size: 30px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-h3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .title-h3 {
    font-size: 40px;
  }
}
.btn {
  display: inline-block;
  background-color: var(--line);
  border: 4px solid var(--line);
  -webkit-border-radius: 32px;
     -moz-border-radius: 32px;
          border-radius: 32px;
  padding: 0 38px;
  font-size: 22px;
  line-height: 56px;
  font-weight: 700;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn:hover {
  background-color: #ffd200;
  border-color: #ffd200;
}
.btn:active {
  background-color: #e1bc10;
  border-color: #e1bc10;
}
.btn-light {
  color: #464646;
  background-color: #fff;
  border: 4px solid #464646;
}
.btn-light:hover {
  color: #797979;
  border-color: #797979;
  background-color: #fff;
}
.btn-light:active {
  color: #181818;
  border-color: #181818;
  background-color: #fff;
}
.underline {
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}
.underline::after {
  content: "";
  position: absolute;
  height: 12px;
  background-color: var(--line);
  bottom: 6px;
  left: -5px;
  right: -5px;
  z-index: -1;
}
.social a {
  height: 50px;
  width: 50px;
  margin-right: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.social a:last-child {
  margin-right: 0;
}
.social a:hover {
  opacity: 0.7;
  -webkit-transform: translateY(-2px);
     -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
       -o-transform: translateY(-2px);
          transform: translateY(-2px);
}
.social a:active {
  opacity: 1;
}
.icon-telegram {
  color: #039be5;
}
.icon-telegram:hover {
  color: #039be5;
}
#page-nav {
  display: none;
}
@media (min-width: 1200px) {
  #page-nav {
    display: block;
    position: fixed;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
  }
  #page-nav li {
    width: 12px;
    height: 12px;
    background-color: #89b4cb;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    margin-bottom: 15px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
  #page-nav li a {
    display: block;
    height: 100%;
  }
  #page-nav li.active {
    background-color: var(--border);
  }
}
.mobile-menu {
  position: fixed;
  top: 75px;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  padding-top: 35px;
  padding-left: 21px;
  padding-right: 21px;
}
@media (min-width: 768px) {
  .mobile-menu {
    padding-top: 25px;
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.active {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu .header-logo {
  margin-bottom: 33px;
}
.mobile-nav-row {
  margin-bottom: 17px;
}
.mobile-nav {
  font-size: 20px;
  font-weight: 700;
}
.mobile-nav a {
  display: inline-block;
  margin-bottom: 26px;
  border: 1px dotted #FFF;
  border-bottom: 1px solid ;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.mobile-nav a:focus {
  outline: none;
  border: 1px dotted var(--border);
}
.mobile-nav a:hover {
  font-weight: 800;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.mobile-nav a:active {
  color: var(--border);
  border-bottom: 1px solid var(--border);
}
.mobile-menu .social {
  margin-bottom: 33px;
}
.mobile-menu .social a {
  margin-right: 16px;
}
.mobile-menu .social a:last-child {
  margin-right: 0;
}
.mobile-menu-email {
  font-size: 18px;
  font-weight: 400;
}
.mobile-menu-email a {
  border-bottom: 1px solid #000;
}
.mobile-menu-email a:hover {
  color: var(--link);
  border-bottom: 1px solid var(--link);
}
.mobile-menu-email a:active {
  color: var(--border);
  border-bottom: 1px solid var(--border);
}
.header {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 1200px) {
  .header {
    background-image: url(../img/main/header/lines-header.jpg);
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
  }
}
.header-overlay {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-100%, -100%);
     -moz-transform: translate(-100%, -100%);
      -ms-transform: translate(-100%, -100%);
       -o-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 1200px) {
  .header-overlay {
    display: none;
  }
}
.header-overlay.active {
  -webkit-transform: translate(0, 0);
     -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 95;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1430px;
  padding-left: 21px;
  padding-right: 34px;
  height: 75px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header-main {
    padding-left: 36px;
    padding-right: 48px;
  }
}
@media (min-width: 1200px) {
  .header-main {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    background-color: transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: 185px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header-logo {
  font-size: 42px;
  font-weight: 900;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  margin-right: 15px;
}
.header-logo::after {
  height: 10px;
  bottom: 5px;
}
.header-logo:hover {
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
}
.header-nav {
  display: none;
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .header-nav {
    display: block;
  }
}
.header-nav a {
  margin-right: 67px;
  border: 3px dotted #FFF;
}
.header-nav a:last-child {
  margin-right: 0;
}
.header-nav a::after {
  bottom: 2px;
  left: -5;
  width: 0;
  height: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.header-nav a:hover::after,
.header-nav a:active::after {
  width: 112%;
}
.header-nav a:focus {
  outline: none;
  border: 3px dotted var(--border);
}
.header-links {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .header-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-links a {
  height: 100%;
  margin-right: 18px;
  padding-top: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.header-links a:last-child {
  margin-right: 0;
}
.icon-instagram {
  width: 30px;
}
.icon-instagram:hover,
.icon-instagram:active {
  color: #0077b5;
}
.icon-github {
  width: 30px;
}
.icon-github:hover,
.icon-github:active {
  color: #6cc644;
}
.icon-vk {
  width: 36px;
}
.icon-vk:hover,
.icon-vk:active {
  color: #45668e;
}
.header-center {
  padding-top: 140px;
}
@media (min-width: 1200px) {
  .header-center {
    padding-top: 86px;
  }
}
.header-center-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .header-center-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.about {
  max-width: 100%;
}
@media (min-width: 768px) {
  .about {
    max-width: 50%;
    padding-right: 10px;
    padding-top: 10px;
  }
}
@media (min-width: 1200px) {
  .about {
    padding-top: 0;
  }
}
.about h1 {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .about h1 {
    margin-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .about h1 {
    margin-bottom: 15px;
  }
}
.about span.underline::after {
  bottom: 4px;
}
@media (min-width: 768px) {
  .about span.underline::after {
    bottom: 7px;
  }
}
@media (min-width: 1200px) {
  .about span.underline::after {
    bottom: 14px;
  }
}
.about-desk {
  font-size: 18px;
  font-weight: 500;
  color: #393f47;
  line-height: 1.67;
}
@media (min-width: 1200px) {
  .about-desk {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 31px;
  }
}
.about-desk p {
  margin-bottom: 15px;
}
.about-desk p:last-child {
  margin-bottom: 0;
}
.about-btn-row {
  display: none;
}
@media (min-width: 1200px) {
  .about-btn-row {
    display: block;
  }
  .about-btn-row a {
    margin-right: 13px;
  }
  .about-btn-row a:last-child {
    margin-right: 0;
  }
}
.header-foto {
  width: 290px;
  height: 290px;
  margin-bottom: 51px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
@media (min-width: 576px) {
  .header-foto {
    width: 410px;
    height: 410px;
  }
}
@media (min-width: 768px) {
  .header-foto {
    width: 50%;
    width: 290px;
    height: 290px;
    margin-left: auto;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .header-foto {
    z-index: 9;
    width: 410px;
    height: 410px;
  }
}
@media (min-width: 1200px) {
  .header-foto-overlay {
    position: absolute;
    content: "";
    width: 460px;
    height: 410px;
    right: -140px;
    bottom: -130px;
    background-image: -webkit-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    opacity: 0.5;
    z-index: 1;
  }
}
.header-img {
  margin-top: 34px;
  -webkit-transform: scale(1.8);
     -moz-transform: scale(1.8);
      -ms-transform: scale(1.8);
       -o-transform: scale(1.8);
          transform: scale(1.8);
  z-index: 1;
}
@media (min-width: 768px) {
  .header-img {
    margin-top: -48px;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .header-img {
    margin-top: -128px;
  }
}
.toggle-menu {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.toggle-menu:hover span {
  background-color: var(--link);
}
.toggle-menu:hover span::before,
.toggle-menu:hover span::after {
  background-color: var(--link);
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.toggle-menu span::before,
.toggle-menu span::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #000;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
.toggle-menu.active {
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span::before {
  top: 0px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.toggle-menu.active span::after {
  bottom: 0px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header-skills {
  margin-top: 78px;
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .header-skills {
    margin-top: 12px;
    margin-bottom: 85px;
  }
}
@media (min-width: 1200px) {
  .header-skills {
    padding-top: 100px;
    margin-top: -114px;
    margin-bottom: 240px;
  }
}
.header-skills-row {
  display: column;
}
@media (min-width: 768px) {
  .header-skills-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.skills-desc {
  margin-bottom: 39px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .skills-desc {
    width: 50%;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .skills-desc {
    width: auto;
    padding-right: 0;
  }
}
.skills-desc h3 {
  margin-bottom: 29px;
}
@media (min-width: 1200px) {
  .skills-desc h3 {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .skills-desc ul {
    margin-bottom: 43px;
    padding-left: 30px;
  }
}
.skills-desc li {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
.skills-desc li:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .skills-desc li {
    position: relative;
    font-size: 24px;
    margin-bottom: 11px;
  }
  .skills-desc li:before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 23px;
    top: 15px;
    left: -30px;
    background-color: #000;
  }
}
.skills-desc .btn {
  display: none;
}
@media (min-width: 1200px) {
  .skills-desc .btn {
    display: inline-block;
  }
}
.header-skills-contacts {
  width: 100%;
}
@media (min-width: 768px) {
  .header-skills-contacts {
    width: 338px;
  }
}
@media (min-width: 1200px) {
  .header-skills-contacts {
    width: 360px;
  }
}
.header-skills-contacts h3 {
  margin-bottom: 22px;
}
@media (min-width: 1200px) {
  .header-skills-contacts h3 {
    margin-bottom: 37px;
  }
}
.header-skills-contacts .social {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .header-skills-contacts .social {
    margin-bottom: 21px;
  }
}
@media (min-width: 1200px) {
  .header-skills-contacts .social {
    margin-left: 5px;
    margin-bottom: 24px;
  }
}
.header-skills-email a {
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #000;
}
.header-skills-email a:hover {
  color: var(--link);
  border-bottom: 1px solid var(--link);
}
.header-skills-email a:active {
  color: var(--border);
  border-bottom: 1px solid var(--border);
}
@media (min-width: 768px) {
  .header-skills-email a {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .header-skills-email a {
    font-size: 24px;
  }
}
.portfolio {
  background-color: #f4f8f9;
}
.portfolio-row {
  padding-top: 80px;
  padding-bottom: 95px;
}
@media (min-width: 576px) {
  .portfolio-row {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .portfolio-row {
    text-align: start;
    padding-bottom: 78px;
  }
}
@media (min-width: 1200px) {
  .portfolio-row {
    padding-top: 105px;
    padding-bottom: 130px;
  }
}
.portfolio-row h2 {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .portfolio-row h2 {
    margin-bottom: 62px;
  }
}
.portfolio-menu {
  display: none;
}
@media (min-width: 768px) {
  .portfolio-menu {
    display: block;
    margin-bottom: 50px;
  }
  .portfolio-menu button {
    margin-right: 45px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #8fa5ae;
  }
  .portfolio-menu button:hover,
  .portfolio-menu button:active,
  .portfolio-menu button:focus {
    color: #000;
  }
  .portfolio-menu button:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .portfolio-menu {
    margin-bottom: 50px;
  }
  .portfolio-menu button {
    margin-right: 77px;
    font-size: 28px;
  }
}
.portfolio-cards-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 43px;
}
@media (min-width: 768px) {
  .portfolio-cards-row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .portfolio-cards-row {
    margin-bottom: 0;
  }
}
.all-jobs-link {
  padding-left: 3px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #000;
}
@media (min-width: 768px) {
  .all-jobs-link {
    padding-left: 5px;
  }
}
.all-jobs-link:hover {
  color: var(--link);
  border-bottom: 1px solid var(--link);
}
.all-jobs-link:active {
  color: var(--border);
  border-bottom: 1px solid var(--border);
}
@media (min-width: 1200px) {
  a.all-jobs-link {
    display: none;
  }
}
a.hide-link {
  display: none;
}
.portfolio-card {
  display: block;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  text-align: start;
}
@media (min-width: 576px) {
  .portfolio-card {
    max-width: 340px;
  }
}
@media (min-width: 768px) {
  .portfolio-card {
    max-width: 340px;
  }
}
@media (min-width: 992px) {
  .portfolio-card {
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card {
    max-width: 360px;
  }
}
.portfolio-card:hover .portfolio-card-img button {
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.portfolio-card:hover .portfolio-card-img::before {
  -webkit-transform: translatey(0);
     -moz-transform: translatey(0);
      -ms-transform: translatey(0);
       -o-transform: translatey(0);
          transform: translatey(0);
}
.portfolio-card:hover .portfolio-card-title h3,
.portfolio-card:hover a {
  color: var(--border);
}
.portfolio-card:hover .portfolio-card-title h3::before,
.portfolio-card:hover a::before {
  width: 100%;
}
.portfolio-card {
  margin-bottom: 49px;
}
.portfolio-card:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .portfolio-card {
    margin-bottom: 44px;
  }
  .portfolio-card:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .portfolio-card {
    margin-bottom: 63px;
  }
  .portfolio-card:nth-last-child(3) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .portfolio-card:nth-child(odd) {
    margin-right: 28px;
  }
}
@media (min-width: 992px) {
  .portfolio-card:nth-child(odd) {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card:nth-child(odd) {
    margin-right: 0;
  }
}
.hide-card {
  display: none;
}
@media (min-width: 1200px) {
  .hide-card {
    display: block;
  }
}
.portfolio-card-img {
  position: relative;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .portfolio-card-img {
    margin-bottom: 34px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-img {
    margin-bottom: 26px;
  }
}
.portfolio-card-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translatey(-105%);
     -moz-transform: translatey(-105%);
      -ms-transform: translatey(-105%);
       -o-transform: translatey(-105%);
          transform: translatey(-105%);
  background-color: rgba(251, 220, 77, 0.85);
  z-index: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.portfolio-card-img button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -550%);
     -moz-transform: translate(-50%, -550%);
      -ms-transform: translate(-50%, -550%);
       -o-transform: translate(-50%, -550%);
          transform: translate(-50%, -550%);
  z-index: 2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  font-weight: 800;
  line-height: 52px;
  padding: 0 30px;
  -webkit-border-radius: 26px;
     -moz-border-radius: 26px;
          border-radius: 26px;
  letter-spacing: 0.3px;
  color: var(--border);
  background-color: #fff;
}
.portfolio-card-img button:hover {
  color: #fff;
  background-color: var(--border);
}
.portfolio-card-img button:active {
  background-color: #d4423b;
}
.portfolio-card-title {
  padding-left: 3px;
}
@media (min-width: 768px) {
  .portfolio-card-title {
    padding-left: 5px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-title {
    padding-left: 0;
  }
}
.portfolio-card-title h3 {
  position: relative;
  margin-bottom: 11px;
  font-size: 22px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.portfolio-card-title h3 a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.portfolio-card-title h3::before {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: var(--border);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .portfolio-card-title h3 {
    font-size: 24px;
    margin-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-title h3 {
    font-size: 26px;
    margin-bottom: 8px;
  }
}
.portfolio-card-title p {
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .portfolio-card-title p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-title p {
    font-size: 20px;
  }
}
.portfolio-card-big {
  max-width: 340px;
}
@media (min-width: 992px) {
  .portfolio-card-big {
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-big {
    max-width: 555px;
  }
}
.portfolio-card-big .portfolio-card-title {
  padding-left: 3px;
}
@media (min-width: 768px) {
  .portfolio-card-big .portfolio-card-title {
    padding-left: 5px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-big .portfolio-card-title {
    padding-left: 0;
  }
}
.portfolio-card-big h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .portfolio-card-big h3 {
    font-size: 24px;
    margin-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-big h3 {
    font-size: 32px;
    margin-bottom: 10px;
  }
}
.portfolio-card-big p {
  font-size: 16px;
}
@media (min-width: 768px) {
  .portfolio-card-big p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-big p {
    font-size: 22px;
  }
}
.section-work {
  padding-top: 54px;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
}
@media (min-width: 768px) {
  .section-work {
    padding-top: 80px;
    padding-bottom: 87px;
  }
}
@media (min-width: 1200px) {
  .section-work {
    padding-top: 136px;
    padding-bottom: 112px;
    background-image: url(../img/main/work/work-bg.jpg);
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
  }
}
.section-work h2 {
  margin-bottom: 50px;
  font-size: 38px;
}
@media (min-width: 768px) {
  .section-work h2 {
    margin-bottom: 156px;
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .section-work h2 {
    font-size: 64px;
  }
}
.section-work .underline::after {
  bottom: 2px;
}
@media (min-width: 768px) {
  .section-work .underline::after {
    bottom: 5px;
  }
}
.work-timeline {
  max-width: 1005px;
  margin: 0 auto;
}
.work-timeline-row {
  position: relative;
  width: 100%;
  min-height: 167px;
  padding-left: 102px;
  padding-bottom: 50px;
}
.work-timeline-row::after {
  content: "";
  position: absolute;
  top: 94px;
  bottom: 0px;
  left: 35px;
  width: 4px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: #e1eef4;
}
.work-timeline-row:last-of-type::after {
  display: none;
}
@media (min-width: 768px) {
  .work-timeline-row {
    width: 50%;
    padding-left: 69px;
    padding-bottom: 0px;
    min-height: 203px;
  }
  .work-timeline-row:first-of-type:before {
    content: "";
    position: absolute;
    top: -77px;
    right: -2px;
    width: 4px;
    height: 57px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #e1eef4;
  }
  .work-timeline-row:nth-child(even) {
    margin-left: auto;
  }
  .work-timeline-row:nth-child(even) .work-timeline-img {
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .work-timeline-row:nth-child(even)::after {
    left: -2px;
  }
  .work-timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 69px;
  }
  .work-timeline-row:nth-child(odd) .work-timeline-img {
    left: auto;
    right: 0;
    -webkit-transform: translateX(50%);
       -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
         -o-transform: translateX(50%);
            transform: translateX(50%);
  }
  .work-timeline-row:nth-child(odd)::after {
    left: auto;
    right: -2px;
  }
  .work-timeline-row:nth-child(odd) .work-timeline-desc {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .work-timeline-row {
    padding-left: 85px;
  }
  .work-timeline-row:nth-child(odd) {
    padding-right: 79px;
  }
}
.work-timeline-row + .work-timeline-row {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .work-timeline-row + .work-timeline-row {
    margin-top: 23px;
  }
}
@media (min-width: 1200px) {
  .work-timeline-row + .work-timeline-row {
    margin-top: 27px;
  }
}
[data-aos="fade-right"],
[data-aos="fade-left"] {
  opacity: 1;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: opacity, -o-transform;
  -moz-transition-property: transform, opacity, -moz-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform, -moz-transform, -o-transform;
  -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
       -o-transform: translateX(0px);
          transform: translateX(0px);
}
[data-aos="fade-right"].aos-animate,
[data-aos="fade-left"].aos-animate {
  opacity: 1;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 768px) {
  [data-aos="fade-right"],
  [data-aos="fade-left"] {
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, -o-transform;
    -moz-transition-property: transform, opacity, -moz-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform, -moz-transform, -o-transform;
    -webkit-transform: translateX(-100px);
       -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
         -o-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  [data-aos="fade-right"].aos-animate,
  [data-aos="fade-left"].aos-animate {
    opacity: 1;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (min-width: 768px) {
  [data-aos="fade-left"] {
    -webkit-transform: translateX(100px);
       -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
         -o-transform: translateX(100px);
            transform: translateX(100px);
  }
}
.work-timeline-desc {
  padding-top: 2px;
  text-align: start;
}
.work-timeline-desc:hover .underline::after {
  background-color: var(--border);
}
@media (min-width: 768px) {
  .work-timeline-desc {
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .work-timeline-desc {
    padding-top: 19px;
  }
}
.work-timeline-desc h3 {
  margin-bottom: 9px;
  font-size: 20px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .work-timeline-desc h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
@media (min-width: 1200px) {
  .work-timeline-desc h3 {
    font-size: 26px;
  }
}
.work-timeline-desc .underline::after {
  display: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .work-timeline-desc .underline::after {
    display: block;
    height: 5px;
    bottom: 3px;
  }
}
.work-timeline-desc p {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.429;
}
@media (min-width: 768px) {
  .work-timeline-desc p {
    font-size: 16px;
    margin-bottom: 9px;
  }
}
@media (min-width: 1200px) {
  .work-timeline-desc p {
    font-size: 18px;
  }
}
p.work-timeline-time {
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  p.work-timeline-time {
    font-size: 18px;
  }
}
.work-timeline-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 74px;
  height: 74px;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
.section-contacts {
  position: relative;
  overflow: hidden;
  background-color: #f4f8f9;
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-contacts {
    padding-bottom: 85px;
  }
}
@media (min-width: 1200px) {
  .section-contacts {
    padding-top: 134px;
    padding-bottom: 150px;
    background-image: url(../img/main/contacts/contacts-bg.jpg);
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
  }
}
.section-contacts h2 {
  margin-bottom: 44px;
}
@media (min-width: 768px) {
  .section-contacts h2 {
    margin-bottom: 62px;
    margin-left: 32px;
  }
}
@media (min-width: 1200px) {
  .section-contacts h2 {
    margin-bottom: 65px;
    margin-left: 0;
  }
}
.section-contacts .container {
  position: relative;
}
.contacts-bg-img {
  display: none;
}
@media (min-width: 1200px) {
  .contacts-bg-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 600px;
    height: 290px;
    top: 142px;
    left: -490px;
    background-image: url(../img/main/contacts/bg-oval.jpg);
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
    background-repeat: repeat;
  }
}
.contacts-row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
}
@media (min-width: 768px) {
  .contacts-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.contacts-desc {
  width: 100%;
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .contacts-desc {
    width: 50%;
    padding-right: 50px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .contacts-desc {
    padding-right: 50px;
    padding-top: 22px;
  }
}
.contacts-paragraph {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .contacts-paragraph {
    margin-bottom: 33px;
  }
}
@media (min-width: 1200px) {
  .contacts-paragraph {
    margin-bottom: 44px;
  }
}
.contacts-paragraph p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  margin-bottom: 15px;
}
.contacts-paragraph p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contacts-paragraph p {
    font-size: 18px;
    line-height: 1.6;
  }
}
@media (min-width: 1200px) {
  .contacts-paragraph p {
    font-size: 20px;
  }
}
.contacts-list {
  margin-bottom: 36px;
}
@media (min-width: 1200px) {
  .contacts-list {
    margin-bottom: 47px;
  }
}
.contacts-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}
.contacts-list-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .contacts-list-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 27px;
  }
}
.contact-name {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .contact-name {
    margin-bottom: 0;
    width: 165px;
    margin-right: 30px;
    font-size: 20px;
  }
}
.contact-desc {
  font-size: 18px;
  font-weight: 500;
  color: #96969d;
}
@media (min-width: 1200px) {
  .contact-desc {
    font-size: 20px;
  }
}
.contact-desc a {
  color: #96969d;
  border-bottom: 1px solid  #96969d;
}
.contact-desc a:hover {
  color: var(--link);
  border-bottom: 1px solid var(--link);
}
.contact-desc a:active {
  color: var(--border);
  border-bottom: 1px solid var(--border);
}
.contacts-form-row {
  width: 100%;
}
@media (min-width: 768px) {
  .contacts-form-row {
    width: 50%;
    padding-top: 6px;
    padding-left: 16px;
  }
}
@media (min-width: 1200px) {
  .contacts-form-row {
    width: 50%;
    padding-left: 37px;
    padding-top: 0;
  }
}
.contacts-form {
  width: 100%;
  padding-top: 52px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 28px 100px 0px #c2dbeb;
     -moz-box-shadow: 0px 28px 100px 0px #c2dbeb;
          box-shadow: 0px 28px 100px 0px #c2dbeb;
}
@media (min-width: 768px) {
  .contacts-form {
    width: 338px;
    padding-left: 25px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .contacts-form {
    width: 511px;
    padding-top: 74px;
    padding-bottom: 40px;
    padding-left: 62px;
    padding-right: 60px;
  }
}
.form-item {
  position: relative;
}
.form-item + .form-item {
  margin-top: 36px;
}
@media (min-width: 1200px) {
  .form-item + .form-item {
    margin-top: 54px;
  }
}
.form-field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #bcbcbc;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.form-field:active,
.form-field:focus {
  border-bottom: 2px solid var(--border);
}
textarea.form-field {
  height: 121px;
}
.form-btn {
  margin-top: 17px;
  text-align: center;
  line-height: 46px;
}
@media (min-width: 768px) {
  .form-btn {
    margin-left: -10px;
  }
}
@media (min-width: 1200px) {
  .form-btn {
    text-align: left;
    margin-top: 35px;
    margin-left: -5px;
  }
}
.form-btn .btn {
  line-height: 46px;
  font-size: 20px;
  padding: 0 70px;
}
@media (min-width: 768px) {
  .form-btn .btn {
    padding: 0 85px;
  }
}
@media (min-width: 1200px) {
  .form-btn .btn {
    line-height: 56px;
    font-size: 22px;
    padding: 0 38px;
  }
}
.fake-placeholder {
  position: absolute;
  top: 13px;
  left: 2px;
  pointer-events: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  font-weight: 700;
  color: #bcbcbc;
}
.fake-placeholder.last {
  top: 4px;
}
.fake-placeholder.active {
  top: -15px;
  font-size: 16px;
  color: #ed9626;
}
.fake-placeholder.last.active {
  top: -25px;
}
.error {
  font-size: 14px;
  font-weight: 700;
  color: var(--border);
}
.contact-form__success {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
}
@media (min-width: 1200px) {
  .contact-form__success {
    font-size: 16px;
    margin-top: 15px;
  }
}
.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #333333;
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 35px;
  }
}
.footer h3 {
  margin-bottom: 14px;
  color: #fff;
}
@media (min-width: 768px) {
  .footer h3 {
    margin-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .footer h3 {
    margin-bottom: 17px;
  }
}
.footer p {
  color: #8f8f8f;
  margin-bottom: 7px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .footer p {
    line-height: 1.2;
  }
}
.footer a {
  color: #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.footer a:hover,
.footer a:active {
  color: #fff;
  border-bottom: 1px solid #fff;
}
/*# sourceMappingURL=main.css.map */